@charset "utf-8";
* { margin: 0; padding: 0;}
a{ text-decoration: none; color: inherit;}
ol,ul{ list-style: none;}
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* app */
#app{
    background-color: #fff;
    width: 360px;
    height: 640px;
    border: 1px solid #222;
    border-radius: 1rem;
}
#categories{
    ul{
        li{
            cursor: pointer;
            margin: 0.5rem 0;
        }
    }
}

@media all and (max-width: 360px){
    #app{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}